{% extends "app/layout.html" %}

{% block content %}

<form class="mt-4">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="numeroRegistro" class="form-label">Numero de Registro</label>
            <input type="text" class="form-control" id="numeroRegistro" placeholder="Ingrese el numero de registro">
        </div>
        <div class="col-md-6 mb-3">
            <label for="fechaRegistro" class="form-label">Fecha de Registro</label>
            <input type="date" class="form-control" id="fechaRegistro">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="operador" class="form-label">Operador</label>
            <input type="text" class="form-control" id="operador" placeholder="Ingrese el nombre del operador">
        </div>
        <div class="col-md-6 mb-3">
            <label for="registro" class="form-label">Registro</label>
            <input type="text" class="form-control" id="registro" placeholder="Ingrese el registro">
        </div>
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion del Registro</label>
        <textarea class="form-control" id="descripcion" rows="5" placeholder="Ingrese la descripcion del registro"></textarea>
    </div>
</form>





{% endblock %}
